md-content
  md-toolbar
    div(aria-label="nav" class="md-toolbar-tools" ng-controller="NavController")
      img(aria-label="Everyday Miracles Logo" src='assets/images/everyday_miracles_logo.png', title='Everyday Miracles Logo', class="image-content")
      md-menu
        md-button(aria-label="menu" ng-click="$mdOpenMenu($event)") nav
        md-menu-content(width="4")
          //md-menu-item
          //  md-button(href="#uicalendar") calendar
          md-menu-item
            md-button(aria-label="calendar" ng-click="go('/uicalendar')") calendar
          if(!user)
            md-menu-item
              md-button(aria-label="login" ng-click="go('/login')") login
            md-menu-item
              md-button(aria-label="register" ng-click="go('/userregistration')") register
          else
            md-menu-item
              md-button(aria-label="logout" ng-click="logout()") logout
            md-menu-item
              md-button(aria-label="profile" ng-click="goToProfile()") profile
            if(user.role !== 'student')  
              md-menu-item

                md-button(aria-label="directory" ng-click="go('/directory')") directory
              md-menu-item
                md-button(aria-label="studentregistration" ng-click="go('/userregistration')") register new student
              if(user.role ==='admin')
                md-menu-item
                  md-button(aria-label="add event" ng-click="go('/addevent')") add event
