body{
  background-color: #526c84;
  padding: 10px;
  margin: 10px;
  text-align: center;
}


md-checkbox{
  display: inline;
}

button{
  padding: 10px;
  margin: 10px;
}

p{
  display: inline;
}

.calendar {
  background-color: white;
}

.my-grid{
  width: 400px;
  height: 400px;
}

