@media only screen and (max-width: 767px) and (min-width: 480px) {
  img {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 3px;
    width: auto;
    max-height: 64px;
    float: left;
    height: 48px;
  }
}

@media only screen and (max-width: 479px) {
  img{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 3px;
    width: auto;
    max-height: 64px;
    float: left;
    height: 55px;
  }
}

.ng-scope {
  font-family: Arial, Helvetica, Sans-Serif;
  font-weight: bold;
}

body, html {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  border-radius: 10px;
}

#calendar {
  height: 100%;
}

p.ng-scope {
  padding: 5px;
}

md-menu-content {
  padding: 0;
  width: 150px;
  border-radius: 10px;
  background-color: #006B76;
  color: whitesmoke;
  font-weight: bold;
}

.md-open-menu-container {
  background-color: #006B76;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10px;
}

.md-menu-content.md-default-theme {
  padding: 0;
  background-color: #006B76;
  color: whitesmoke;
  font-weight: bold;
}

.md-menu-item {
  padding: 0;
  background-color: #006B76;
  color: whitesmoke;
  font-weight: bold;
}

.md-toolbar-tools {
  background-color: whitesmoke;
}

.a.md-button {
  background-color: #006B76;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10px;
}

.md-button {
  background-color: #006B76;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10px;
}

.fc-event-container {
  background-color: #006B76;
  color: whitesmoke;
}

p.class-dates {
  display: inline;
}

.calendar {
  background-color: whitesmoke;
  border-radius: 10px;
}

a.ng-binding.ng-scope {
  padding: 10px;
}

span {
  padding: 2px;
}

.ui-grid-cell-contents {
  padding: 10px;
}

md-content.layout-padding.ng-scope {
  background-color: whitesmoke;
}

.fc-event {
  background-color: #006B76;
}

.image-content {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 3px;
  width: auto;
  max-height: 64px;
  float: left;
}

.calendarColor1,
.calendarColor1 div,
.calendarColor1 span {
  background-color: #006B76; /* background color */
  border-color: white;     /* border color */
  color: white;           /* text color */
}

.calendarColor2,
.calendarColor2 div,
.calendarColor2 span {
  background-color: #b9b6e3; /* background color */
  border-color: white;     /* border color */
  color: white;           /* text color */
}

.calendarColor3,
.calendarColor3 div,
.calendarColor3 span {
  background-color: #9bc8ea; /* background color */
  border-color: white;     /* border color */
  color: white;           /* text color */
}
