body, html {
  background-color: #526c84;
  /*padding: 10px;*/
  /*margin: 10px;*/
  /*text-align: center;*/
}

/*button{*/
  /*padding: 10px;*/
  /*margin: 10px;*/
/*}*/

p.class-dates {
  display: inline;
}

.calendar {
  background-color: white;
}

.fc-day-grid-container .fc-scroller {
  height: 600px;
}

.fc-week {
  height: 100px;
}
