md-content(layout-padding)

  h2(aria-label="Add Event" ng-show="{{eventInsertBoolean}}") Add Event
  h2(aria-label="Edit Event" ng-hide="{{eventInsertBoolean}}") Edit Event
  div(class="eventPageBorder")
    form(aria-label="Add Event Form" name='addEventForm' id='addEventForm')
      .layout-column
        .layout-row
          md-input-container(class='md-block')
            label Title
            input(aria-label="Title" type='text' name='title' ng-model="event.title" required)
          md-input-container()
            label  Category
            md-select(aria-label="Category Pulldown" name="categorySelect" ng-model="event.eventCategoryId")
              md-option(ng-repeat="category in categories" value="{{category.event_category_id}}") {{category.name}}
      .layout-column
        md-input-container(class='md-block')
          label Description
          textarea(textarea rows="3" cols="50" form="addEventForm" aria-label="Description" type='text' name='description' ng-model="event.description" required)
      md-button(aria-label="Save Event Button" ng-click="submitEvent()" class=""
        ng-disabled="!event.title || !event.eventCategoryId || !event.description") Save Event

  h2 Schedule Event
  div(class="eventPageBorder")
    form(aria-label="Event Schedule Form" name='eventScheduleForm' id='eventScheduleForm')
      .layout-row
        md-input-container(flex)
          label Repeat Type
          md-select(aria-label="Repeat Type Pulldown" name='repeattype' ng-model="event.repeatType")
            md-option(aria-label="None" value='None') None
            md-option(aria-label="Daily" value='Daily') Daily
            md-option(aria-label="Weekly" value='Weekly') Weekly
            md-option(aria-label="Monthly" value='Monthly') Monthly

      .layout-column
        .layout-row
          md-input-container(flex)
            label Start Date
            input(aria-label="Start Date" type='date' name='scheduledate' ng-model="eventScheduleAdd.scheduleDate" required)
          md-input-container(flex)
            label End Date
            input(aria-label="Repeat to Date Calendar" type='date' name='title' ng-model="event.repeatToDate" required)

        .layout-row
          md-input-container(flex)
            label Start Time
            input(aria-label="Start Time" type='time' name='startdatetime' ng-model="eventScheduleAdd.startDateTime" required)
          md-input-container(flex)
            label End Time
            input(aria-label="End Time" type='time' name='enddatetime' ng-model="eventScheduleAdd.endDateTime" required)
          md-input-container(flex)
            label Teacher
            md-select(aria-label="Teacher" name="teacherSelect" ng-model="eventScheduleAdd.teacherUserId")
              md-option(ng-repeat="teacher in teachers" value="{{teacher.user_id}}") {{teacher.first_name}} {{teacher.last_name}}
    md-button(aria-label="Schedule Event Button" ng-click="submitEventSchedule()" class=""
      ng-disabled="!eventScheduleAdd.scheduleDate || !eventScheduleAdd.startDateTime || !eventScheduleAdd.endDateTime || !event.repeatToDate") Schedule Event

  <div aria-label="Event Schedule Grid"  ui-grid="gridOptions" class="eventScheduleGrid"></div>