md-content(layout-padding)
    h2(aria-label="Add New Walk In") Add New Walk-in
    h3(aria-label="Event Title") {{event.title}}
    h4(aria-label="Event Day Date Start Time End Time") {{event.schedule_date|date:'fullDate'}}
    h4(aria-label="Event Times") {{event.start_datetime|date:'shortTime'}} - {{event.end_datetime|date:'shortTime'}}


    form(aria-label="Add Walk In Form"  name='addWalkinForm')
        md-input-container(class='md-block')
            label First Name
            input(aria-label="First Name" type="text" ng-model="user.firstName" required)
        md-input-container(class='md-block')
            label Last Name
            input(aria-label="Last Name" type="text" ng-model="user.lastName" required)
        md-input-container(class='md-block')
            label Phone Number
            input(aria-label="Phone Number" type="text" ng-model="user.phoneNumber" required)
        md-input-container(class='md-block')
            label Date of Birth
            input(aria-label="Date of Birth" type="date" ng-model="user.dateOfBirth" required)
        md-input-container(class='md-block')
            md-radio-group(aria-label="Payment Type" ng-model = "user.paymentType" required)
                label Payment Type
                md-radio-button(aria-label="insurance radio button" value = "insurance") Insurance (I have state-funded insurance)
                md-radio-button(aria-label="cash radio button" value = "cash") Out of pocket (check or cash in-person)

        md-button(aria-label="Submit Button" ng-click="addWalkin()" class="" ng-disabled="addWalkinForm.$invalid") Submit

