md-content(layout-padding)
    h2(aria-label="Take Attendance") Take Attendance
    h3(aria-label="Event Title") {{event.title}}
    h4(aria-label="Event Date Start Time End Time") {{event.schedule_date|date:'fullDate'}} {{event.start_datetime|date:'shortTime'}} {{event.end_datetime|date:'shortTime'}}

    ng-form(aria-label="Attendance Form" name='attendanceForm')

        div()
            div(aria-label="Row" layout="row")
                div(aria-label="Status" flex="25") Status
                div(aria-label="Name" flex="25") Name
                div(aria-label="Phone Number" flex="25") Phone Number
                div(aria-label="Payment Type" flex="25") Payment Type
            div(layout="column" ng-repeat="users in usersEventSchedule")
                div(layout="row" ng-click="users.status='Attended'; users.changed=true")
                    div(flex="25")
                        select(aria-label="status" class="" name="status" ng-model="users.status" ng-change="users.changed=true")
                            option(aria-label="Registered" value="Registered") Registered
                            option(aria-label="Attended" value="Attended") Attended
                            option(aria-label="Not Attended" value="Not attended") Not attended
                    div(aria-label="First Last Name" flex="25") {{users.first_name}} {{users.last_name}}
                    div(aria-label="Phone Number" flex="25") {{users.phone_number}}
                    div(aria-label="Payment Type" flex="25") {{users.payment_type}}

        md-button(aria-label="Submit Attendance" ng-click="submitAttendance()" class="md-primary md-raised") Submit Attendance

        md-button(aria-label="Add Walk In" ng-click="findWalkin()" class="md-primary md-raised") Add Walk-in