
div
  h1
    | {{eventFromFactory.title}} Class Dates

div
  h2
    | Please choose the date(s) that you
    br
    | would like to attend the {{eventFromFactory.title}} class

//md-checkbox(ng-repeat="date in event | limitTo:6" ng-model="date.addCheckbox" md-no-ink aria-label="Class Picker Checkbox") {{date.schedule_date|date:'fullDate'}} {{date.start_datetime|date:'shortTime'}}
md-checkbox(ng-repeat="date in event | limitTo:6" ng-model="date.addCheckbox" md-no-ink aria-label="Class Picker Checkbox") {{date.start_datetime|date:'EEE MMM d, y h:mm a'}}

.sign-up-button
  md-button(class="md-raised" ng-click="signUp(event)") Sign Up

.go-back-button
  md-button(class="md-raised" ng-click="goBack(event)") Go Back
