md-content(layout-padding)
  h2 Class Dates
  h3 {{registeredEvents[0].title}}
  h4 Please choose the date(s) that you would like to attend.

  md-checkbox(ng-repeat="date in event | limitTo:6" ng-model="date.addCheckbox" md-no-ink aria-label="Class Picker Checkbox") {{date.start_datetime|date:'EEE MMM d, y h:mm a'}}

  .sign-up-button
    md-button(class="md-raised" ng-click="signUp()") Sign Up

  .go-back-button
    md-button(class="md-raised" ng-click="goBack()") Go Back
