pageTitle Choose Class Dates
doctype html
html(lang="en")
  head
    title Choose Class Dates
    script
      console.log("hi from choose class dates page")

body
  div
  p
    | Class Dates


  h1
    Choose the dates you would like to attend class


  input(type='checkbox', name='choose', checked=false)

  p
    | Friday, January 15, 2016

  input(type='checkbox', name='choose', checked=false)

  p
    | Friday, January 22, 2016

  input(type='checkbox', name='choose')

  p
    | Friday, January 29, 2016

  input(type='checkbox', name='choose')

  p
    | Friday, February 5, 2016

  input(type='checkbox', name='choose')

  p
    | Friday, February 12, 2016

  input(type='button', name='Sign Up', placeholder='Sign Up')


  input(type='button', name='Go Back', placeholder='Go Back')




