
div
  h1
    | Class Dates

div
  h2
    | Please choose the date(s) that you
    br
    | would like to attend the class



.class-dates
  md-checkbox(ng-repeat="date in event" md-no-ink row aria-label="Class Picker Checkbox" class="md-primary"       ng-checked=False)
    p.class-dates {{date.schedule_date|date:'fullDate':'-12:00'}} {{date.start_datetime|date:'shortTime':'-12:00'}} {{date.end_datetime|date:'shortTime':'-12:00'}}

      //p.class-dates {{date}}


.sign-up-button
  md-button(class="md-raised" ng-click="signUp(event)") Sign Up

.go-back-button
  md-button(class="md-raised" ng-click="goBack(event)") Go Back
