md-content(layout-padding)

  .class-register-info
    //h2(aria-label="First Last Name") #{user.first_name} #{user.last_name}
    //
    h2(aria-label="Registering For") Registering for:
    h3(aria-label="Event Title") {{registeredEvents[0].title}}

    h4 Dates:
    .class-dates(aria-label="Event Dates" ng-repeat="event in studentEvents")
      p {{event.start_datetime|date:'EEE MMM d, y h:mm a'}}

    .additional-comments
      md-input-container
        label Additional Comments
        textarea(aria-label="Additional Comments" ng-model = "event.comments")

  .confirm-class-button
    md-button(aria-label="Confirm Class Button" class = "md-raised" ng-click = "confirmClass(studentEvents, event.comments, registeredEvents)") Confirm Class

  .go-back
    md-button(aria-label="Go Back Button" class = "md-raised" ng-click = "goBack()") Go Back
