//student navbar
  //includes Home MyClasses Profile

.class-register-info
  h2 Name: {{user.name}}

  h2 Registering for:
  h2 {{event.title}}

  h2 Dates:
  .class-dates(ng-repeat="event in studentEvents")
    p {{event.start_datetime}}

  .additional-comments
    md-input-container
      label Additional Comments
      textarea(ng-model = "event.comments")

.confirm-class-button
  md-button(class = "md-raised" ng-click = "confirmClass(studentEvents, event.comments, registeredEvents)") Confirm Class

.go-back
  md-button(class = "md-raised" ng-click = "goBack()") Go Back
