p directory page
div(class="search-directory" layout="row")
  md-input-container
    input(aria-label="First Name" type="text" ng-model="searchObject.firstName")
    label First Name

  md-input-container
    input(aria-label="Last Name" type="text" ng-model="searchObject.lastName")
    label Last Name

  md-input-container
    input(aria-label="Phone Number" type="text" ng-model="searchObject.phoneNumber")
    label Phone Number

md-button(ng-click="getResults()") Search

md-button(ng-click="addNewStudent()") Add New Student


div(ui-grid="gridOptions" class="my-grid")
