p(aria-label="Directory") Directory
md-input-container
  input(aria-label="first name" type="text" ng-model="searchObject.firstName")
  label name
  
md-button(aria-label="submit button" ng-click="getResults()") submit
div(aria-label="Name Grid" ui-grid="gridOptions" class="my-grid")
