//login button
-var req = { user: {role: 'student'}}

if !req.user.role
  .login-button
    md-button(class = "md-raised" ng-click = "loginUser()") Login
else
  .login-message
    p #{req.user.role}

h1 {{event.title}}

.class-date {{event.start}}

.class-details {{event.description}}

.register-button
  md-button(class = "md-raised" ng-click = "registerForClass(event)") Register for Class

if (req.user.role == 'teacher') || (req.user.role === 'admin')
  .attendance-button
    md-button(class = "md-raised" ng-click = "seeAttendance(event)") Attendance

if (req.user.role === 'admin')
  .edit-class-button
    md-button(class = "md-raised" ng-click ="editClass(event)") Edit Class


if (req.user.role === 'teacher') || (req.user.role === 'admin')
  .cancel-class-button
    md-button(class = "md-raised md-warn" ng-click = "cancelClass(event)") Cancel Class

