md-content(layout-padding)

  if (user === undefined)
    .login-button
      md-button(aria-label="Login Button" class = "" ng-click = "loginUser()") Login
  h3(aria-label="Event Title") {{event.title}}
  h4(aria-label="Event Day Date Start Time End Time") {{event.schedule_date|date:'fullDate'}}
  h5(aria-label="Event Times") {{event.start_datetime|date:'shortTime'}} - {{event.end_datetime|date:'shortTime'}}


  .class-details(aria-label="Event Description") {{event.description}}

  if (user === undefined) || (user.role == 'student')
    .register-button
      md-button(aria-label="Register for Class Button" class = "" ng-click = "registerForClass()") Register for Class

  if (user === undefined)
  else
    if (user.role == 'teacher') || (user.role === 'admin')
      .attendance-button
        md-button(aria-label="Attendance Button" class = "" ng-click = "seeAttendance()") Attendance
    if (user.role === 'admin')
      .edit-class-button
        md-button(aria-label="Edit Class Button" class = "" ng-click ="editClass()") Edit Class
    if (user.role === 'teacher') || (user.role === 'admin')
      .cancel-class-button
        md-button(aria-label="Cancel Class Button" class = "md-raised md-warn" ng-click = "cancelClass()") Cancel Class

  .go-back-button
    md-button(aria-label="Go Back Button" class = "" ng-click = "goBack()") Go Back