md-content(layout-padding)
  h1 Log In
  md-input-container
    input(ng-model="user.username")
    label username
  md-input-container
    input(type="password" ng-model="user.password")
    label password
  md-button(ng-click="submitCredentials()") submit
  p or:  
  md-button(ng-click="") Log In With Facebook
  md-button(ng-click="") Log In With Google
