//
   Created by PaulZimmel on 12/16/15.

//navbar on top. Should already be there
.div
   p this is the profile page

.basic-user-info
   md-input-container
     label First Name
     input(type = "text" ng-model = "user.firstName" disabled)

   md-input-container
     label Last Name
     input(type = "text" ng-model = "user.lastName" disabled)

   md-input-container
     label Username
     input(type = "text" ng-model = "user.userName" disabled)

   md-input-container
     label Password
     input(type = "password" ng-model = "user.password" disabled)

   md-input-container
     label Confirm Password
     input(type = "password" ng-model = "user.password" disabled)

   md-input-container
     label Role
     input(type = "text" ng-model = "user.role" disabled)