//
   Created by PaulZimmel on 12/16/15.

.user-info
   md-input-container
     label First Name
     input(aria-label="First Name" type = "text" ng-model = "user.firstName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Last Name
     input(aria-label="Last Name" type = "text" ng-model = "user.lastName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Username
     input(aria-label="Username" type = "text" ng-model = "user.userName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Role
     md-select(aria-label="Role" ng-model = "user.roleId" disabled=user.role!== "admin")
       md-option(ng-repeat="role in roles" value="{{role.role_id}}") {{role.name}}

   md-input-container
     label Date of Birth
     input(aria-label="Date of Birth" type = "date" ng-model = "user.dateOfBirth" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Phone Number
     //input(type = "text" ng-model = "user.phoneNumber" ng-pattern="/^([0-9]{3}) [0-9]{3}-[0-9]{4}$/" disabled=(user.role!== "admin"&&user.role!=="student"))
     input(aria-label="Phone Number" type = "text" ng-model = "user.phoneNumber" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" disabled=(user.role !== "admin" && user.role !== "student"))

    md-input-container
     label Email Address
     input(aria-label="Email Address" type = "text" ng-model = "user.emailAdress" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Contact Type
     input(aria-label="Contact Type" type = "text" ng-model = "user.contactType" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     md-radio-group(aria-label="Payment Type" ng-model = "user.paymentType" disabled=(user.role!== "admin"&&user.role!=="student"))
       label Payment Type
       md-radio-button(aria-label="Insurance" value = "insurance") Insurance (I have state-funded insurance)
       md-radio-button(aria-label="Cash" value = "cash") Out of pocket (check or cash in-person)

   md-input-container
     md-radio-group(aria-label="Everyday Miracles Client?" ng-model = "user.everydayMiraclesClientInd" disabled=(user.role!== "admin"&&user.role!=="student"))
       label Are you an Everyday Miracles Client?
       md-radio-button(aria-label="Yes" ng-value = "true" ) Yes
       md-radio-button(aria-label="No" ng-value = "false" ) No


   md-input-container
     label Doula
     input(aria-label="Doula Name" type = "text" ng-model = "user.doulaName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Expected Birth Date
     input(aria-label="Expected Birth Date" type = "date" ng-model = "user.expectedBirthDate" disabled=(user.role!== "admin"&&user.role!=="student"))

   .save-button
       md-button(aria-label="Save" class = "md-raised" ng-click = "saveProfile()") Save
   .change-password-button
       md-button(aria-label="Change Password" class = "md-raised" ng-click = "changePassword()") Change Password

