//
   Created by PaulZimmel on 12/17/15.
.user-name-info
  h2 First Name:   {{user.firstName}}
  h2 Last Name:   {{user.lastName}}

.classes-grids
  h2 Registered Classes:
  div(ui-grid="gridOptions1" class = "my-grid")
  h2 Attended Classes:
  div(ui-grid="gridOptions2" class = "my-grid")

