md-content(layout-padding)
  h1 Register
  md-input-container
    input(aria-label="First Name" ng-model="user.firstName")
    label first name
  md-input-container
    input(aria-label="Last Name" type="text" ng-model="user.lastName")
    label last name
  md-input-container
    input(aria-label="Username" ng-model="user.username" type="text" value="jason")
    label username
  md-input-container
    input(aria-label="Password" type="password" ng-model="user.password" value="1234")
    label password
  //- md-input-container
  //-   input(aria-label="Confirm Password" type="password" ng-model="user.password")
  //-   label confirm password
  md-input-container
    md-button(aria-label="Submit Button" ng-click="submitRegistration()") submit
  
