md-content
  p!= user
  md-toolbar
    div(class="md-toolbar-tools" ng-controller="NavController")
      img(src='assets/images/everyday_miracles_logo.png', title='Everyday Miracles Logo', class="image-content")
      md-menu
        md-button(aria-label="menu" ng-click="$mdOpenMenu($event)") nav
        md-menu-content(width="4")
          md-menu-item
            md-button(href="#uicalendar") calendar
          md-menu-item
            md-button(ng-click="goToProfile()") profile
          md-menu-item
            md-button(href="#/login") login
          md-menu-item
            md-button(href="#/directory") directory
