md-content(layout-padding)
    h2(aria-label="Take Attendance") Take Attendance
    h3(aria-label="Event Title") {{event.title}}
    h4(aria-label="Event Day Date Start Time End Time") {{event.schedule_date|date:'fullDate'}}
    h4(aria-label="Event Times") {{event.start_datetime|date:'shortTime'}} - {{event.end_datetime|date:'shortTime'}}

    ng-form(aria-label="Attendance Form" name='attendanceForm')
        h4(aria-label="Choose attended student") Please choose the attended students.
        md-checkbox( ng-repeat="users in usersEventSchedule" aria-label="status menu" class="" name="status"
                        ng-model="users.status" ng-true-value="'Attended'" ng-false_value="'Registered'" ng-change="users.changed=true") {{users.first_name}} {{users.last_name}}, {{users.phone_number}}, {{users.payment_type}}

        md-button(aria-label="Submit Attendance Button" ng-click="submitAttendance()" class="") Submit

        md-button(aria-label="Add Walk In Button" ng-click="findWalkin()" class="") Add Walk-in