h1 Change Password
.confirm-password
  md-input-container
    label Type Username
    input(type="text" ng-model = "user.userName")

  md-input-container
    label Type New Password
    input(type="password" ng-model = "user.password")

  md-input-container
    label Confirm New Password
    input(type="password" ng-model = "user.confirmPassword")

  md-button(class="md-raised" ng-click = "confirmPassword(user)") Submit






