h1(aria-label="Change Password") Change Password
.confirm-password
  md-input-container
    label Type Username
    input(aria-label="Type Username" type="text" ng-model = "user.userName")

  md-input-container
    label Type New Password
    input(aria-label="Type New Password" type="password" ng-model = "user.password")

  md-input-container
    label Confirm New Password
    input(aria-label="Confirm New Password" type="password" ng-model = "user.confirmPassword")

  md-button(aria-label="Submit Button" class="md-raised" ng-click = "confirmPassword(user)") Submit




