
div
  h1
    | Class Dates

div
  h2
    | Please choose the dates you
    br
    | would like to attend class



.classdates-input

  ul(ng-repeat="date in classdates")

    md-checkbox(md-no-ink aria-label="Class Picker Checkbox" class="md-primary" ng-checked=False)
    p {{date}}


.sign-up-button
  md-button(class="md-raised" ng-click="signUp(event)") Sign Up

.go-back-button
  md-button(class="md-raised" ng-click="goBack(event)") Go Back
