//student navbar
  //includes Home MyClasses Profile

.class-register-info
  p Name: {{user.name}}

  p Registering for:
  p {{eventFromFactory}}

  .class-dates
    p(ng-repeat="date in event" ng-model="dates" md-no-ink row="row" aria-label="Your Classes" class="md-primary") {{date.schedule_date|date:'fullDate':'+12:00'}} {{date.start_datetime|date:'shortTime':'+12:00'}} {{date.end_datetime|date:'shortTime':'+12:00'}}

  .additional-comments
    md-input-container
      label Additional Comments
      textarea(ng-model = "event.comments")

.confirm-class-button
  md-button(class = "md-raised" ng-click = "confirmClass(event)") Confirm Class

.go-back
  md-button(class = "md-raised" ng-click = "goBack()") Go Back
