

if (user === undefined)
  .login-button
    md-button(class = "md-raised" ng-click = "loginUser()") Login
h1 {{event.title}}

//once the database gets up, filter the display of this date
.class-date {{event.start_datetime|date:'shortTime'}}

.class-details {{event.description}}

if (user === undefined) || (user.role == 'student')
  .register-button
    md-button(class = "md-raised" ng-click = "registerForClass()") Register for Class

if (user === undefined)
else
  if (user.role == 'teacher') || (user.role === 'admin')
    .attendance-button
      md-button(class = "md-raised" ng-click = "seeAttendance()") Attendance
  if (user.role === 'admin')
    .edit-class-button
      md-button(class = "md-raised" ng-click ="editClass()") Edit Class
  if (user.role === 'teacher') || (user.role === 'admin')
    .cancel-class-button
      md-button(class = "md-raised md-warn" ng-click = "cancelClass()") Cancel Class

.go-back-button
  md-button(class = "md-raised" ng-click = "goBack()") Go Back