//
   Created by PaulZimmel on 12/16/15.

.user-info
   md-input-container
     label First Name
     input(type = "text" ng-model = "user.firstName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Last Name
     input(type = "text" ng-model = "user.lastName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Username
     input(type = "text" ng-model = "user.userName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Role
     md-select(ng-model = "user.roleId" disabled=user.role!== "admin")
       md-option(ng-repeat="role in roles" value="{{role.role_id}}") {{role.name}}

   md-input-container
     label Date of Birth
     input(type = "date" ng-model = "user.dateOfBirth" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Phone Number
     //input(type = "text" ng-model = "user.phoneNumber" ng-pattern="/^([0-9]{3}) [0-9]{3}-[0-9]{4}$/" disabled=(user.role!== "admin"&&user.role!=="student"))
     input(type = "text" ng-model = "user.phoneNumber" ng-pattern="/^([0-9]{3})-[0-9]{3}-[0-9]{4}$/" disabled=(user.role !== "admin" && user.role !== "student"))

    md-input-container
     label Email Address
     input(type = "text" ng-model = "user.emailAdress" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Contact Type
     input(type = "text" ng-model = "user.contactType" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     md-radio-group(ng-model = "user.paymentType" disabled=(user.role!== "admin"&&user.role!=="student"))
       label Payment Type
       md-radio-button(value = "insurance") Insurance (I have state-funded insurance)
       md-radio-button(value = "cash") Out of pocket (check or cash in-person)

   md-input-container
     md-radio-group(ng-model = "user.everydayMiraclesClientInd" disabled=(user.role!== "admin"&&user.role!=="student"))
       label Are you an Everyday Miracles Client?
       md-radio-button(ng-value = "true" ) Yes
       md-radio-button(ng-value = "false" ) No


   md-input-container
     label Doula
     input(type = "text" ng-model = "user.doulaName" disabled=(user.role!== "admin"&&user.role!=="student"))

   md-input-container
     label Expected Birth Date
     input(type = "date" ng-model = "user.expectedBirthDate" disabled=(user.role!== "admin"&&user.role!=="student"))

   .save-button
       md-button(class = "md-raised" ng-click = "saveProfile()") Save
   .change-password-button
       md-button(class = "md-raised" ng-click = "changePassword()") Change Password

