<div>

    <md-button ng-click="selectUsers()" class="md-raised md-primary">Select Users</md-button>
    <md-button ng-click="insertUsers()" class="md-raised md-primary">Insert Users</md-button>
    <md-button ng-click="updateUsers()" class="md-raised md-primary">Update Users</md-button>
    <md-button ng-click="deleteUsers()" class="md-raised md-primary">Delete Users</md-button>
    <br>
    <md-button ng-click="selectEvent()" class="md-raised md-primary">Select Event</md-button>
    <md-button ng-click="insertEvent()" class="md-raised md-primary">Insert Event</md-button>
    <md-button ng-click="updateEvent()" class="md-raised md-primary">Update Event</md-button>
    <md-button ng-click="deleteEvent()" class="md-raised md-primary">Delete Event</md-button>
    <br>
    <md-button ng-click="selectEventSchedule()" class="md-raised md-primary">Select Event Schedule</md-button>
    <md-button ng-click="insertEventSchedule()" class="md-raised md-primary">Insert Event Schedule</md-button>
    <md-button ng-click="updateEventSchedule()" class="md-raised md-primary">Update Event Schedule</md-button>
    <md-button ng-click="deleteEventSchedule()" class="md-raised md-primary">Delete Event Schedule</md-button>
    <br>
    <md-button ng-click="selectUsersEventSchedule()" class="md-raised md-primary">Select Users Event Schedule</md-button>
    <md-button ng-click="insertUsersEventSchedule()" class="md-raised md-primary">Insert Users Event Schedule</md-button>
    <md-button ng-click="updateUsersEventSchedule()" class="md-raised md-primary">Update Users Event Schedule</md-button>
    <md-button ng-click="deleteUsersEventSchedule()" class="md-raised md-primary">Delete Users Event Schedule</md-button>
    <br>
</div>